* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: 'Bellefair', serif;
  /* border: 1px solid red; */
  /* font-size: 20px; */
}

 h1{
    /* font-size: 3rem; */
    color: white;
} 
h3{
    color: white;   
}
p{
    /* font-size: 1.5rem; */
    color: white;

} 
